<div class="w-full">
  <div class="flex items-center justify-between pb-8">
    <h1 class="mx-auto text-lg text-4xl font-bold">Products</h1>
  </div>
  <table id="products" class="mx-auto">
    <tfoot>
      <tr>
        <td colspan="3">
          <div class="mt-8">
            <%= link_to 'New product',
              new_product_path,
              class: "inline rounded-lg py-3 px-5 bg-green-600
              text-white block font-medium" %>
          </div>
        </td>
      </tr>
  </tfoot>
  <tbody> 
    <% @products.each do |product| %>
      <%= render product%>
    <% end %>
    </tbody>
  </table>
</div>